.customer-profile {
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    gap: 2.5rem;
}

.profile-details {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile div:nth-of-type(1) .profile-icon {
    width: 100px;
    height: 100px;
}

.profile-details div span {
    font-size: 0.75rem;
}

.profile-details div span:nth-of-type(1) {
    width: 4rem;
}

.profile-details div span:nth-of-type(2) {
    width: 1rem;
}

.email-row {
    margin-left: 1rem;
    color: var(--blue);
}

.email-row:hover {
    opacity: 0.5;
}

.profile-details div {
    display: flex;
}

hr {
    position: absolute;
    border: 1px solid black;
    top: 46%;
    left: 15%;
    width: 85%;
}
