.nav-bar {
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid black;
    width: 15%;
    height: 100vh;
    padding: 30px 0;
}

.nav-bar h1 {
    margin: 50px 0 30px ;
    text-align: center;
}

.nav-bar ul {
    height: 75%;
    position: relative;
    padding: 0 30px;
}

.nav-bar ul li {
    padding: 4px;
    border-radius: 4px;
}

.last-nav {
    padding: 4px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav-bar ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-bar ul li a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.component-icon,
.purchase-icon {
    position: relative;
    top: -8px;
}

.body {
    display: flex;
}

