.section-style {
    width: 100%;
    padding-left: 15px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    /* background-color: aliceblue; */
}

.table-body {
    overflow-y: scroll;
}

.section-style h2 {
    position: sticky;
    top: 0;   
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.75rem;
    overflow-x: auto;
}

.table thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.table th {
    padding-bottom: 8px;
    padding-right: 25px;
    padding-left: 4px;
}

.table tr {
    border-bottom: 1px solid black;
}

.table td {
    padding: 8px;
    white-space: normal;
    word-break: break-word;
}

.table td:nth-of-type(3),
.table td:nth-of-type(4){
    text-align: center;
}


.check-icon:hover {
    color: var(--green);
}

.close-icon:hover {
    color: var(--red);
}