/* 3D PREVIEW */
.preview-section {
    border: 1px solid black;
    width: 50%;
    position: relative;
}

#sidebar {
    position: absolute;
    right: 0;
    width: 250px;
    height: 100%;
    padding: 20px;
    border-radius: 8px;
    z-index: 10;
    user-select: none;
}

#components {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.draggable {
    width: 100px;
    height: 70px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    cursor: grab !important;
}

.draggable:active {
  cursor: grabbing; /* Cursor when dragging */
}

.draggable img {
    width: 50%;
    height: 70%;
}

#canvas-container {
    width: 60%;
    height: 100%;
    position: relative;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.expand-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

.expand-icon:hover {
    opacity: .5;
    cursor: pointer;
}

/* BUTTONS */
.buttons-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttons-section div:not(.generate-build) {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
}

.generate-button {
    background-color: var(--blue);
    font-weight: 500;
    color: white;
    border: 1px solid black;
}

.buttons-section div button,
.buttons-section div input,
.buttons-section div form {
    width: 100%;
    height: 100%;
}

.buttons-section div input {
    font-size: 0.75rem;
}

.buttons-section div button:not(:disabled):hover {
    background-color: var(--blue);
    border: 1px solid black;
    color: white;
    font-weight: 500;
}

.active {
    background-color: var(--blue);
    border: 1px solid black;
    color: white;
    font-weight: 500;
}

.buttons-section div:not(:last-child) button:hover {
    transform: scale(1.05);
}

.generate-build {
    position: absolute;
    top: 43.6%;
    width: 23.7%;
    height: 51%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    overflow-y: scroll;
}

.hidden {
    display: none !important;
}

.generate-build button {
    border: 1px solid black;
    text-align: left;
    width: 100%;
    padding: 8px;
}


.generate-build button p {
    font-weight: 600;
}

.generate-build button p .selected-name {
    display: block;
    font-weight: normal;
    font-size: 0.65rem;
}

.generate-build button:hover {
    opacity: 0.5;
}

#loadingSpinner {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    color: black;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
}

.spinner-message {
    background-color: aliceblue;
    width: 30%;
    height: 30%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
    padding: 8px;
    
}

.spinner-message pre {
    align-content: center;
    height: 100%;
    word-break: break-word;
    white-space: pre-wrap;
}

/* CATALOG */
.catalog-section{
    background-color: var(--blue);
    width: 25%;
    border: 1px solid black;
}

.catalog-button button.active {
    border-bottom: 1px solid white;
}

.catalog-button {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid black;
}

.catalog-button button {
    margin: 0 4px;
    padding: 8px;
    font-size: 0.75rem;
    color: white;
    border: 1px solid transparent;
}

.catalog-header {
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
}

.catalog-title {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    color: white;
}

.catalog-filter button {
    border: 1px solid black;
}

.catalog-list {
    height: 85%;
    margin: 0 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.catalog-item {
    display: flex;
    background-color: white;
    justify-content: space-evenly;
}

.catalog-item:hover {
    border-bottom: 2px solid black;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.catalog-image {
    width: 40%;
    height: 100px;
    /* background-color: antiquewhite; */
}

.catalog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog-specs {
    padding: 4px;
    width: 60%;
}

.summary-section {
}

.summary-date {
    text-align: center;
    align-content: center;
    height: 10%;
    color: white;
}

.summary-date p {
    font-weight: 600;
}

.summary-date p #buildDate {
    font-weight: normal;
}

.summary-table {
    background-color: white;
    height: 80%;
    margin: 5px;
    padding: 0 0.5rem;
    border-radius: 8px;
    overflow-y: auto;
}

.summary-table table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 12px;
}

.summary-table thead th {
    background-color: transparent;
    font-weight: 600;
    color: #666;
}

.summary-table tbody td {
    border-bottom: 1px solid black;
}

.summary-table td:nth-of-type(2),
.summary-table td:nth-of-type(3) {
    text-align: center;
}



#validateBuild {
    border: 1px solid black;
}

#validateBuild:hover {
    background-color: black;
    color: white;
}