.section-style {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
}

.table-body {
    height: 70vh;
}

.section-style h2 {
    position: sticky;
    top: 0;   
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.75rem;
}

.table thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.table th {
    padding-bottom: 8px;
}

.table tr {
    border-bottom: 1px solid black;
}

.table td {
    padding: 8px;
    white-space: normal;
    word-break: break-word;
}

.check-icon:hover {
    color: var(--green);
}

.close-icon:hover,
.delete-icon:hover {
    color: var(--red);
}

.view-icon:hover, 
.edit-icon:hover {
    color: var(--blue);
}

.restore-icon:hover {
    color: var(--blue);
}

/* Customer profile dashboard */
.builds-table {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

/* INVENTORY */
.stockin-icon:hover {
    color: var(--green);
}

.stockout-icon:hover {
    color: var(--red);
}

/* ORDER */
.pickup-icon:hover {
    color: var(--blue);
}

.build-details:hover {
    cursor: pointer;
    text-decoration-line: underline;
}